/web/sites/default/files
/web/sites/simpletest

/.idea
/.git
/.composer
/.yarn*
/.docker
/.ddev
/.gitlab
.gitlab-ci.yml
Dockerfile
.gitpod.yml


/web/themes/custom/site_default/node_modules
/web/themes/custom/site_default/.yarn
/web/themes/custom/site_default/.npm
/web/themes/custom/site_default/scss

/config/secrets

/docker-compose.yml
